<%= render template: 'layouts/_nav_bar' %>

<div class="container">
  <div class="panel panel-default panel-body">
    <div class="article-title">
      <h4>タイトル</h4>
    </div>
    <div class="article-content">
      <div class="article1">
        <p>
          あああああ
        </p>
      </div>
      <div class="article2">
        <p>
          aaaaaaaa
        </p>
      </div>
    </div>
  </div>
</div>
